/* это спа в самом низу страницы при активном диалоге */
.service-info {
    color: #ffffff;
    font-size: smaller;

    height: 19px;

    display: none;
}

/* блок в котром будет чат с пользователем */
.chat-areae {
    display: none;
    flex-direction: column;
    align-items: center;

    width: 53%;
    min-width: 50rem;
    flex-grow: 1;
    max-height: 97%;
    flex-shrink: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    box-sizing: border-box;
    background-color: #171717;
    border-radius: 16px;
    border: 2px solid #000000;

    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* это div который растянут на всю ширину, область для сообщения пользователя */
.message-area {
    display: flex;
    justify-content: flex-end;

    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0.3rem;

}

.ai-messege-area {
    justify-content: flex-start !important;
}

/* div в котром лежит текст 2 span с текстом */
.message {
    display: flex;
    flex-direction: column;

    background-color: rgb(48, 48, 114);
    border-radius: 16px;

    padding: 1rem;
    padding-bottom: 0.4rem;
    max-width: 38rem;

    white-space: pre-wrap;
    word-break: break-all;
}

/* текст сообщения */
.mes-text {
    color: #ffffff;
    opacity: 0.9;
    font-size: 1.05rem;
}

/* Подпись под сообщениями */
.service-information {
    margin-left: auto;

    opacity: 0.6;
    color: #ffffff;
    font-size: 0.7rem;
}


/* анимация загрузки */
.spinner {
    display: none;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #686868;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* что происходит с обьектами при отправке текста */
.chat-block.sending {
    & #send-prompt {
        display: none;
    }

    & .spinner {
        display: block;
    }
}

/* это кнопка отмены запроса */
.cancellation {
    all: unset;
    display: none;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    pointer-events: auto;
}

.cancellation:hover {
    cursor: pointer;
}

/* меняем на другую иконку если ответа нет */
.chat-block.no-response {
    & .cancellation {
        display: block;
    }
    & #send-prompt {
        display: none;
    }
}