.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-bar {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border-right: 2px solid #222529;

    min-width: 16rem;
    flex-shrink: 1;
    z-index: 2;

    overflow-y: auto;
    /* доавляет прокрутку */
    color-scheme: light dark;
    transition: 0.3s;
}


.left-bar-funcs {
    display: flex;
    flex-direction: column;

    top: 0;
    position: sticky;
    z-index: 10;

    background-color: #171717;

}

.containers {
    display: flex;
    align-items: center;

    height: 2.6rem;

    padding-left: 0.8rem;

}

.containers:hover .ico-funcs,
.containers:hover .h2 {
    transform: scale(1.1);
    cursor: pointer;
}

.h2-reset {
    font-size: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal
}

.ico-funcs {
    width: 30px;
    height: 30px;

    transition: 0.2s;
    transform-origin: left center;
}


.h2 {
    display: inline-block;
    font-size: 0.95rem;
    color: #fff;

    margin-left: 0.3rem;

    transition: 0.2s;
    transform-origin: left center;
}

summary {
    list-style: none;
}

#chat-history {
    padding: 0;
    margin: 0;
}

.chat-item {
    margin: 0.6rem 0.5rem;
    padding: 0.4rem;

    color: white;
    list-style-type: none;

    box-sizing: border-box;
    border: 2px solid #414141;
    border-radius: 16px;
}

.chat-item-span {
    opacity: 0.6;
    font-size: 0.8rem;

    pointer-events: none;
}


.chat-item:hover {
    cursor: pointer;
    border-color: #acacac;

    background-color: #3b3d3f;
}

#chat-history hr {
    width: 100%;
    border: none;
    border-top: 2px solid #222529;

    pointer-events: none;
}

@media (max-width: 1000px) {
    .left-bar {
        display: none; /* Скрываем совсем, открываем потом по кнопке */
    }
}

.separator {
    margin-bottom: 0rem;
}
