.modal-overlay-blur.visible {
    display: block;
}

.modal-overlay-blur.register .modal-overlay {
    height: 32rem;
}
.modal-overlay-blur.register .toggle-bg {
    left: 50%;
}

.modal-overlay-blur.register #button-reg {
    color: #fff;
}

.modal-overlay-blur.register #button-log {
    color: #acacac;
}

.modal-overlay-blur {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

    z-index: 100;
}

.modal-overlay {
    position: fixed;
    /* Привязываем к экрану */
    top: 50%;
    /* Сдвигаем верхний край на середину */
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25rem;
    height: 27rem;

    color: #fff;
    background-color: #171717;
    border-radius: 24px;

    transition: 0.3s;
}

/* Шапка модального окна */
.modal-head {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* настройка текста */
.modal-text {
    margin: 1.1rem 0;

    text-align: center;
    font-size: larger;

    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    word-spacing: -3px;
    line-height: 2;
}

#logo {
    vertical-align: sub;

    margin-left: 0.3rem;
}

/* ползунок с выбором регистрации и входа */
.modal-choise {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;

    height: 2rem;
    align-self: stretch;

    margin: 0 1.5rem;

    background-color: #222529;
    border-radius: 16px;
}


.toggle-bg {
    position: absolute;
    left: 0%;

    background-color: #2C3035;
    height: 100%;
    width: 50%;

    border-radius: 16px;

    transition: 0.5s;
}



.button-choice {
    z-index: 2;
    border-radius: 16px;

    border: none;
    font-size: 1rem;

    width: 100%;
    align-self: stretch;
    background: transparent;
}

#button-log {
    color: #fff;
    transition: 0.3s;
}

#button-reg {
    color: #acacac;
    transition: 0.3s;
}

.button-choice:hover {
    cursor: pointer;
}

.modal-form {
    align-self: stretch;
    margin: 0 2rem;
    margin-top: 1.8rem;
}

#authorization-form {
    display: flex;
    flex-direction: column;

    gap: 0.3rem;

}

.input-block {
    all: unset;

    border-radius: 10px;
    background-color: #2C3035;

    height: 1.8rem;
    padding-left: 10px;
}

.footer {
    align-self: stretch;
    display: flex;
    flex-direction: column;

    gap: 1rem;

    margin: 2rem;
}

.footer-button {
    all: unset;
    align-self: center;
    
    height: 1.8rem;
    padding: 0 10px;
    background-color: #2C3035;
    border-radius: 16px;
}

