body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    margin: 0;
    padding: 0.6rem;
    background-color: #222529;
}

.list-block {
    margin-left: auto;
}

.list-bar {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.first-list-item {
    color: white;
    background-color: #2c3035;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin: 0rem 0.4rem;
}