<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/image/ico_logo.png">
    <link rel="stylesheet" href="static/css/body.css">
    <link rel="stylesheet" href="static/css/nav_bar.css">
    <link rel="stylesheet" href="static/css/left_bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>ИИ помошник</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="list-block">
            <ul class="list-bar">
                <li class="first-list-item">Поддержка</li>
                <li class="first-list-item">Авторизация</li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <aside class="left-bar">
            <div class="left-bar-1">
                <img src="static/image/logo.png" alt="logo" class="site-logo">
            </div>
            <div class="left-bar-2">
                <ul id="chat-history">
                    <script src="static/js/chat_history.js"></script>
                    <!-- Сюда JS будет добавлять li -->
                </ul>
            </div>
        </aside>
    </div>
    <section>
        <ul>
            <li><img src="static/image/logo.png" alt="logo" class="site-logo"></li>
            <li>Новый чат</li>
            <li></li>
        </ul>
    </section>
</body>

</html>