<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИИ помошник</title>
</head>

<body>
    <main>
        <h1>Привет это твой <i>ИИ</i> помошник!</h1>
        <p>Some text - <b>Lorem</b> ipsum dolor, sit amet consectetur adipisicing elit. Saepe, aliquid deserunt asperiores eos ea
            consectetur cum facere aperiam impedit, fuga aut vel quibusdam hic nesciunt eveniet ullam, labore minima
            dolorum.</p>
    </main>
</body>

<div></div>
</html>